# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Outputs
outputs/
*.pkl
*.pt

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Weights & Biases
wandb/

# Model cache
models_cache/
